<mat-card class="login-card">
  <mat-card-title>Iniciar Sesión</mat-card-title>
  <mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        El nombre de usuario es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Iniciar Sesión
    </button>
  </form>
  </mat-card-content>
  <!-- Contenedor para mostrar el mensaje de error 
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div> -->


  <mat-card-actions>
    <a mat-button routerLink="/register" routerLinkActive="active" (click)="onRegisterClick()">¿No tienes cuenta? Regístrate</a>
  </mat-card-actions>
</mat-card>